// Fonts
$font-family-sans-serif: 'Poppins', sans-serif;
$header-font: 'HankenGroteskRegular';

// Colors
$primary: #7490B1;
$secondary: #FFFFFF;

$body-color: #605E5E;
$border-color: $primary;

$light-placeholder-color: rgba(255, 255, 255, .7);
$dark-placeholder-color: rgba(0, 0, 0, .4);

// Sizes

$sizes: (
  33: '33%'
);
