# dependencies
/node_modules
/wwwroot/dashboard/node_modules

# testing
/coverage

# production
/build
/dist
/wwwroot/dashboard/build
/wwwroot/dashboard/dist

# misc
.DS_Store

# blog
/blog/_site
.sass-cache
.jekyll-metadata

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.swp

