.App {
  text-align: center;
  padding-top: 12px;
  margin-bottom: 48px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.environment-control {
  margin-bottom: 12px;
}

.address-info {
  margin-left: 28px;
  margin-bottom: 20px;
}

.address-mono {
  background: rgba(0, 0, 0, .08);
  padding: 2px 8px;
  margin-left: 4px;
  font-size: 15px;
  border-radius: 2px;
}

.address-mono a {
  color: #3572c0;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
