@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*
  background: #151250;
  color: white;
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #000000;
  background-image: linear-gradient(-225deg, #4582d0 0%, #3572c0 100%);
  height: 105px;
  width: 100%;
}

.header-logo {
  background-image: url('https://neutralproject.com/images/logo-square.png');
  background-size: cover;
  width: 48px;
  height: 48px;
  float: left;
  margin-top: 28px;
  margin-left: 26px;
}

#dash-app {
  margin-top: 48px;
  width: 100%;
}
