extends ../layouts/secondary
block body
  div.page-body
    div.container
      section.title.text-center
        h1 Careers
        p
          | We&apos;re a team of entrepreneurs with knowledge in the financial and
          | cryptocurrency space, looking for like-minded people to join our mission
          | of building the decentralized financial system.
      section.listings
        div.job-listing
          h2 Full-stack Engineer
          a(href='mailto:hr@neutralproject.com?subject=Applying%20for%20Full-stack%20Engineer%20Position')
            button.btn.btn-primary Apply Now
          h2.mt-5 Front-end Engineer
          a(href='mailto:hr@neutralproject.com?subject=Applying%20for%20Front-end%20Engineer%20Position')
            button.btn.btn-primary Apply Now
          h2.mt-5 Distributed Systems Engineer
          a(href='mailto:hr@neutralproject.com?subject=Applying%20for%20Distributed%20Systems%20Engineer%20Position')
            button.btn.btn-primary Apply Now
          h2.mt-5 Simulation / Modeling
          a(href='mailto:hr@neutralproject.com?subject=Applying%20for%20Simulation%20%2F%20Modeling%20Position')
            button.btn.btn-primary Apply Now
          h2.mt-5 Cryptographer
          a(href='mailto:hr@neutralproject.com?subject=Applying%20for%20Cryptographer%20Position')
            button.btn.btn-primary Apply Now
          h2.mt-5 Economist
          a(href='mailto:hr@neutralproject.com?subject=Applying%20for%20Economist%20Position')
            button.btn.btn-primary Apply Now
          h2.mt-5 Business Development
          a(href='mailto:hr@neutralproject.com?subject=Applying%20for%20Business%20Development%20Position')
            button.btn.btn-primary Apply Now

