extends ../layouts/secondary
block vars
  - var active='download'
block body
  div.page-body.int-team
    div.container
      section.team
        h2.text-center.page-title
          | Access the Neutral Platform
          div.underline-block
        div.w-25.mx-auto.mb-5 &nbsp;
        div.container.w-75.text-left
          p.text-center
            text Access using your web browser, or download one of the following native clients:
        div.w-25.mx-auto.mb-4 &nbsp;
        div.container.team-container.dl-container
          div.row
            div.col-12.col-md-6.col-lg-3.text-center.app-dl
              a.dapp-dl(href="https://dapp.neutralproject.com")
                div.card.mx-3
                  img(src='images/logos/dapp.png')
                  div.app-dl-description Web
                  div.app-dl-v
            div.col-12.col-md-6.col-lg-3.text-center.app-dl
              a.windows-dl(href="#")
                div.card.mx-3
                  img(src='images/logos/windows.png')
                  div.app-dl-description Windows
                  div.app-dl-v
            div.col-12.col-md-6.col-lg-3.text-center.app-dl
              a.mac-dl(href="#")
                div.card.mx-3
                  img(src='images/logos/apple.png')
                  div.app-dl-description Mac OS
                  div.app-dl-v
            div.col-12.col-md-6.col-lg-3.text-center.app-dl
              a.linux-dl(href="#")
                div.card.mx-3
                  img(src='images/logos/linux.png')
                  div.app-dl-description Linux (64-bit)
                  div.app-dl-v

        div.w-75.mx-auto.pb-5 &nbsp;
          p.text-center.infographic-hint
            text For information on how to use the Neutral platform, see <a href="https://blog.neutralproject.com/posts/2019/05/14/navigating-neutral-dollar.html" target="_blank">Navigating Neutral Dollar</a><br>or view the <a href="https://www.youtube.com/watch?v=TyOPwF6WyJY" target="_blank">live demonstration</a>

        div.w-75.mx-auto.pb-5 &nbsp;
          p.text-center
            text Contact us on Telegram for assistance:
            <br><br>
            a.telegram-button(href="https://t.me/neutralproject") Join us on Telegram

        div.w-25.mx-auto.pb-5 &nbsp;
