extends ../layouts/secondary
block body
  div.page-body.how-it-works.pb-5
    div.container
      section.title.text-center
        h2.text-center
          | How It Works
          div.underline-block
        div.container.mt-5.text-left.w-75
          div.mt-5 &nbsp;
          p
            | The stablecoin market today reflects more than $3 billion USD in 
            | market capitalization, and is expected to grow exponentially with 
            | the mass adoption of the cryptocurrencies. With over 50 active stablecoins 
            | today with varying mechanics, it becomes difficult to fully assess the 
            | projects on a standalone and live basis. The Neutral Dollar leverages our 
            | own unique process to offer diversified exposure from a basket stablecoins, 
            | exhibiting many attributes that make a stablecoin effective. Our product is, 
            | by design, efficient, fungible, permissionless, and scalable.
      img.mt-5(src='images/how-it-works.png' width="100%")
    div.top.mt-sm-5.mt-0 &nbsp;
    section.text-center.mt-0
