extends ../layouts/secondary
block body
  div.page-body.how-it-works.pb-5
    div.container
      section.title.text-center
        h1 A New Design
        p
          | The stablecoin market today reflects more than $3 billion USD in 
          | market capitalization, and is expected to grow exponentially with 
          | the mass adoption of the cryptocurrencies. With over 50 active stablecoins 
          | today with varying mechanics, it becomes difficult to fully assess the 
          | projects on a standalone and live basis. The Neutral Dollar leverages our 
          | own unique process to offer diversified exposure from a basket stablecoins, 
          | exhibiting many attributes that make a stablecoin effective. Our product is, 
          | by design, efficient, fungible, permissionless, and scalable.
    div.container.triptych.my-5
      div.card-deck.text-center
        div.card
          div.card-body
            img.w-100(src='images/collab.png')
          div.card-footer
            h4 Market participants work to bundle cryptocurrencies together
        div.card
          div.card-body
            img.w-100(src='images/single-coin.png')
          div.card-footer
            h4 A single Neutral token represents a basket of cryptocurrencies
        div.card
          div.card-body
            img.w-100(src='images/coin-market.png')
          div.card-footer
            h4 Neutral helps you diversify risk and get broad exposure to the market
    div.top.mt-sm-5.mt-0 &nbsp;
    section.text-center.mt-0
      div.container
        h2 an Opportunity
        hr.mx-auto.w-25
        p
          | Globally there are 5 trillion USD worth of exchange-traded assets 
          | aggregated, quantified and sold to market participants. Given the 
          | rapid growth of the digital currency market, there is an unmet demand 
          | for a similar aggregate instrument for retail and institutional investors. 
          | Neutral believes our design can match the explosive growth and popularity 
          | of exchange-traded products in traditional markets, for the crypto market.
        img.mt-5.w-75(src='images/diagrams/neutral-ecosystem.png')
