extends ../layouts/secondary
block vars
  - var active='status'
block body
  div.page-body.int-team
    div.container
      div#dash-app
      div.w-25.mx-auto.pb-5 &nbsp;
  script(src="/js/dashboard.min.js")
