extends ../layouts/secondary
block body
  div.page-body.int-team
    div.container
      section.title.text-center
        h1 Team and Partners
        p
          | Neutral is operated by experts in the cryptocurrency space with years
          | of experience building and deploying blockchain and trading products.
      section.mt-5
        h2.text-center Partners
        hr.w-25.mx-auto.mb-5
        div.d-flex.flex-column.align-items-center.justify-content-center.flex-grow-1
          div.d-flex.flex-column.flex-md-row.align-items-center.pt-3
            img.pt-3.pt-md-0(src='images/sequoia-black.png')
      section.team
        h2.text-center Team
        hr.w-25.mx-auto.mb-5
        div.container
          div.row
            div.col-12.col-md-6.col-lg-4.text-center.person
              img.rounded-circle.w-50(src='images/matt.jpg')
              h5.about-name.mt-3 Matt Branton
              h5 Co-founder &amp; CTO
              div.about-body
                div.short-bio
                  p
                    | Development &amp; smart contract R&amp;D. Previously high-frequency
                    | trading and smart contract developer.
                  p.read-more Read more about Matt
                div.long-bio(hidden='')
                  p
                    | Matt Branton is a distributed computing expert, with over ten
                    | years of experience in payment and trading system design and
                    | architecture.
                  p
                    | He was an early technologist at EWT, LLC (now Virtu Financial)
                    | and a founding partner at World Financial Desk, a market leading
                    | high frequency trading firm specialized in fixed income and
                    | derivative products.
                  p
                    | An early Bitcoin adopter (2010), he founded Coinlock for
                    | encrypted micropayment content delivery and has spent the
                    | last five years building smart contract and distributed ledger
                    | systems at Ember Financial.
                  p
                    | He has multiple blockchain patents pending, including his work
                    | on synthetic mining and novel derivatives products.
            div.col-12.col-md-6.col-lg-4.text-center.person
              img.rounded-circle.w-50(src='images/guo.jpg')
              h5.about-name.mt-3 Guo Chen (Gordon)
              h5 Co-founder &amp; CEO
              div.about-body
                div.short-bio
                  p
                    | Business development &amp; strategy. Previously founding partner
                    | at FBG Capital and co-founder of Mega Credit. Economics at
                    | Peking University and Finance at University of Hong Kong.
                  p.read-more Read more about Guo
                div.long-bio(hidden='')
                  p
                    | Guo Chen (Gordon) was a former founding partner at FBG Capital,
                    | where he led the crypto primary investments. FBG is one of
                    | the largest crypto investment funds in Asia, having invested
                    | in over 80 early projects.
                  p
                    | Before FBG, he co-founded Mega Credit, a P2P lending startup
                    | with over $2.5 mm funding from K2VC and a leading internet
                    | finance company in China in 2014.
                  p
                    | Before the startup, he worked for a leading technology
                    | investment bank China Renaissance. Guo has a masters degree
                    | in Economics from Peking University and a masters degree
                    | in Finance from University of Hong Kong.
            div.col-12.col-md-6.col-lg-4.text-center.person
              img.rounded-circle.w-50(src='images/jason.jpg')
              h5.about-name.mt-3 Jason Zhang
              h5 Co-founder &amp; COO
              div.about-body
                div.short-bio
                  p
                    | Business development &amp; operations. Previously investor at
                    | Sequoia Capital and MSD Capital (Michael Dell&apos;s family office).
                    | Economics at Harvard College.
                  p.read-more Read more about Jason
                div.long-bio(hidden='')
                  p
                    | Jason Zhang was an investment professional at Sequoia Capital,
                    | where he focused on investments in enterprise software, internet,
                    | and hardware (public &amp; private). Prior to Sequoia Capital,
                    | Jason worked for Michael Dell at MSD Capital. There he was
                    | responsible for public market investments, Michael&apos;s personal
                    | venture investments, and the Dell/EMC deal.
                  p
                    | Before MSD, he co-founded Crimson Xchange, an education startup
                    | and was on the founding team of Ginkgo Capital, where he
                    | helped negotiate a $100 mm anchor investment from the MIT Endowment.
                  p
                    | He has also worked at Blackstone (private equity) and TPG
                    | Capital (growth equity). Jason graduated from Harvard College
                    | with a bachelor&apos;s degree in Economics with the option to
                    | enroll in a master&apos;s degree.
            div.col-12.col-md-6.col-lg-4.text-center.person
              img.rounded-circle.w-50(src='images/yulong.jpg')
              h5.about-name.mt-3 Yulong Liu
              h5 Business Development
              div.about-body
                div.short-bio
                  p
                    | Business development. Previously investor at FBG Capital
                    | and NewQuest Capital. Industrial Engineering &amp; Business
                    | Administration at National University of Singapore.
            div.col-12.col-md-6.col-lg-4.text-center.person
              img.rounded-circle.w-50(src='images/mikec.jpg')
              h5.about-name.mt-3 Michael Chen
              h5 Development
              div.about-body
                div.short-bio
                  p
                    | Development &amp; simulation. Previously CTO of Scala Computing and data
                    | infrastructure at Facebook. PhD in Computer Science at Princeton
                    | University.
            div.col-12.col-md-6.col-lg-4.text-center.person
              img.rounded-circle.w-50(src='images/mike-rose.jpg')
              h5.about-name.mt-3 Michael Rose
              h5 Development
              div.about-body
                div.short-bio
                  p
                    | Development &amp; simulation. Previously quantitative developer at Ellington
                    | Management and co-founder of Renaissance Risk Labs. PhD in
                    | Mathematics at University of Chicago.
            div.col-12.col-md-6.col-lg-4.text-center.person
              img.rounded-circle.w-50(src='images/ilias.jpg')
              h5.about-name.mt-3 Ilias Dodoulas
              h5 Development
              div.about-body
                div.short-bio
                  p
                    | Modeling &amp; simulation. Previously quantitative trading and
                    | financial engineering. PhD in Computational Fluid Dynamics
                    | at Imperial College London.
            div.col-12.col-md-6.col-lg-4.text-center.person
              img.rounded-circle.w-50(src='images/alexandros.jpg')
              h5.about-name.mt-3 Alexandros Charogiannis
              h5 Development
              div.about-body
                div.short-bio
                  p
                    | Modeling &amp; simulation. Previously data analysis and quantitative trading.
                    | PhD &amp; Honorary Fellowship in Fluid Dynamics at Imperial College London.
            div.col-12.col-md-6.col-lg-4.text-center.person
              img.rounded-circle.w-50(src='images/zohar.png')
              h5.about-name.mt-3 Zohar Etzioni
              h5 Development
              div.about-body
                div.short-bio
                  p
                    | Modeling &amp; simulation. Previously algorithmic trading at
                    | Morgan Stanley &amp; Citi and project supervisor for graduate
                    | students at Oxford University. PhD in Computer Science at
                    | Trinity College Dublin.

