extends ../layouts/secondary
block body
  div.page-body.int-team
    div.container
      section.title.text-center
        h1 Led by the best, backed by the best
        p
          | Our team has deep industry experience spanning blockchain 
          | development, distributed systems, investments, and trading 
          | knowledge to usher in the next ecosystem of financial instruments. 
          | We blend this expertise along with renown thought leadership from 
          | academia to deliver high-quality, innovative products that will help 
          | both institutions and retail investors alike invest in emerging crypto 
          | assets.
      section.team
        h2.text-center
          | Our Team
          div.underline-block
        div.w-25.mx-auto.mb-5 &nbsp;
        div.container
          div.row
            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/matt.jpg')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Matt Branton
                  p.card-title CTO, Co-founder
                  ul
                    li (ex) Founder, Ember Financial (smart contracts)
                    li (ex) Founder, Coinlock
                    li (ex) Co-founder, World Financial Desk (high-frequency trading
                    li (ex) Systems Engineer, EWT (now Virtu Financial)
                  div.card-footer
                    a(href='https://www.linkedin.com/in/matthew-branton-9650432/' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;
            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/guo.jpg')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Guo Chen
                  p.card-title CEO, Co-founder
                  ul
                    li (ex) Partner, FBG Capital (premier global crypto fund)
                    li (ex) Co-founder, Mega Credit (fintech startup)
                    li (ex) Analyst, China Renaissance
                  div.card-footer
                    a(href='https://www.linkedin.com/in/guo-chen-07b8711a/' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;

            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/jason.jpg')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Jason Zhang
                  p.card-title COO, Co-founder
                  ul
                    li (ex) Investor, Sequoia Capital
                    li (ex) Analyst, MSD Capital (Michael Dell&apos;s family office)
                    li (ex) Co-founder, Crimson Xchange (education startup)
                  div.card-footer
                    a(href='https://www.linkedin.com/in/jason-zhang-0525/' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;
            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/yulong.jpg')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Yulong Liu
                  p.card-title Business Development
                  p
                    | Business development. Previously investor at FBG Capital
                    | and NewQuest Capital. Industrial Engineering &amp; Business
                    | Administration at National University of Singapore.
                  div.card-footer
                    a(href='#' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;
            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/mikec.jpg')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Michael Chen
                  p.card-title Development
                  p
                    | Development &amp; simulation. Previously CTO of Scala Computing and data
                    | infrastructure at Facebook. PhD in Computer Science at Princeton
                    | University.
                  div.card-footer
                    a(href='#' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;
            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/mike-rose.jpg')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Michael Rose
                  p.card-title Development
                  p
                    | Development &amp; simulation. Previously quantitative developer at Ellington
                    | Management and co-founder of Renaissance Risk Labs. PhD in
                    | Mathematics at University of Chicago.
                  div.card-footer
                    a(href='#' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;
            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/ilias.jpg')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Ilias Dodoulas
                  p.card-title Development
                  p
                    | Modeling &amp; simulation. Previously quantitative trading and
                    | financial engineering. PhD in Computational Fluid Dynamics
                    | at Imperial College London.
                  div.card-footer
                    a(href='#' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;
            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/alexandros.jpg')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Alexandros Charogiannis
                  p.card-title Development
                  p
                    | Modeling &amp; simulation. Previously data analysis and quantitative trading.
                    | PhD &amp; Honorary Fellowship in Fluid Dynamics at Imperial College London.
                  div.card-footer
                    a(href='#' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;
            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/zohar.png')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Zohar Etzioni
                  p.card-title Development
                  p
                    | Modeling &amp; simulation. Previously algorithmic trading at
                    | Morgan Stanley &amp; Citi and project supervisor for graduate
                    | students at Oxford University. PhD in Computer Science at
                    | Trinity College Dublin.
                  div.card-footer
                    a(href='#' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;

        div.w-25.mx-auto.mb-5 &nbsp;
        h2.pt-md-5.mb-5.text-center
          | Advisors
          div.underline-block
        div.w-25.mx-auto.mb-5 &nbsp;
        div.container
          div.row
            div.col-12.col-md-6.col-lg-4.text-center.person
              div.card
                img(src='images/jason.jpg')
                div.card-body.text-left.text-white
                  h5.mb-1.card-title Jason Zhang
                  p.card-title COO, Co-founder
                  ul
                    li (ex) Investor, Sequoia Capital
                    li (ex) Analyst, MSD Capital (Michael Dell&apos;s family office)
                    li (ex) Co-founder, Crimson Xchange (education startup)
                  div.card-footer
                    a(href='https://www.linkedin.com/in/jason-zhang-0525/' target='_blank')
                      div.font-weight-bold.name-link Read More &nbsp; &#8594;

        div.w-25.mx-auto.mb-5 &nbsp;
        h2.pt-md-5.mb-5.text-center
          | Partners
          div.underline-block
        div.w-25.mx-auto.mb-2 &nbsp;
        div.d-flex.flex-column.align-items-center.justify-content-center.flex-grow-1
          div.d-flex.flex-column.flex-md-row.align-items-center
            img.pt-3.pt-md-0(src='images/sequoia-black.png')

        div.w-25.mx-auto.pb-5 &nbsp;
