extends ../layouts/secondary
block vars
  - var active='token-profile'
block body
  div.page-body.how-it-works.pb-5
    div.container
      section.title.text-center
        h2.text-center.page-title
          | Token Profile Announcement
          div.underline-block
        div.container.mt-5.text-left.w-75
          div.mt-5 &nbsp;
          p
            | (imToken #4162) We are providing Neutral Dollar (NUSD) token information on imToken.
            | After completion, you can see the logo and full information inside imToken’s Token Manager.
    div.top.mt-sm-5.mt-0 &nbsp;
    section.text-center.mt-0
