doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Neutral
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,300i,400,500")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    link(rel="stylesheet" href="/main.css")
    link(rel="shortcut icon" type="image/png" href="/images/favicon.ico")
  body
    block body
