@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

@mixin primary-tint() {
  -webkit-filter: rgba(233,239,247,1);
  -webkit-filter: rgba(233,239,247,1);
  -moz-filter: rgba(233,239,247,1);
  filter: rgba(233,239,247,1);
  filter: rgba(233,239,247,1);
}

@mixin grayscale() {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
}

@mixin shadow() {
  box-shadow: rgba(0, 0, 0, 0.08) 2.5px 4.3px 27px 0;
}

.shadow {
  @include shadow();
}

*:not(i) {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

a {
  &:hover {
    text-decoration: none;
  }
}

h1 { font-size: 2.5em; }
h2 { font-size: 2.1875em; text-transform: uppercase; font-weight: 100; }
h3 { font-size: 1.33em; }

hr {
  border-width: 4px;
}

ul {
  text-align: left;
}

li {
  margin-bottom: .5em;
}

form {
  margin-bottom: 0;
}

header {
  /*background: url(images/topo.svg) no-repeat;*/
  video {
    opacity: .03;
    z-index: -1;
  }
}

nav:not(i) {
  font-family: $header-font;
  text-transform: uppercase;
  a {
    color: $body-color;
  } 
}

header.interior nav a { color: #FFFFFF }

.hero {
  h1 {
    font-weight: 100;
    color: #000000;
  }
  h3 {
    font-weight: 200;
    color: #000000;
  } 
}

.card-deck {
  max-width: 900px;
  margin: auto;
  padding: 1.25em .5em;
}

.horiz-ctas {
  width: 50%;
  margin: auto;
}

.email-signup {
  background-color: #FFFFFF;
}

.backers {
  background: 
    linear-gradient(
      rgba(116,144,177, 1),
      rgba(116,144,177, 1),
    );
  color: white;
  h5 {
    font-weight: 200;
  }
}

.wavy-bg {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    background: url(images/bg-wavy-gray.png) no-repeat;
    background-position: bottom;
    height: 610px;
    width: 100%;
    left: 0;
    bottom: 0;
    @include grayscale(); 
    opacity: .1;
  }
}

.triptych .card {
  box-shadow: .5px .9px 21px 0px rgba(0,0,0,.04);
  h4 {
    font-size: 1.2em;
    font-weight: 400;
  }
  .card-footer {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    border: 0;
    background: none;
  }
}

.participate { 
  background:  
    url(images/bg-wavy-middle.svg),
    linear-gradient(
      rgba(53,53,53,1),
      rgba(53,53,53,1)
    );
    @include grayscale(); 
}

.get-involved { 
  background:  
    linear-gradient(
      rgba(248,248,248,1),
      rgba(248,248,248,.9)
    ),
    url(images/bg-wavy-gray-2.svg) no-repeat;
    @include grayscale();
    background-size: cover;
}

.team {
  .card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 2.5px 4.3px 27px 0;
    padding-top: 1em;
    img {
      width: 200px;
      height: 200px;
      margin: auto;
      @include grayscale();
    }
  }
  .card-img-top {
    height: 280px;
    overflow: hidden;
    img {
      width: 100%;
      @include grayscale();
    }
  }
  .card-footer {
    background: transparent;
    padding: 0;
    display: flex;
    background-color: #A9A9A9;
    color: white;
    font-weight: 300;
    a {
      display: inherit;
      width: 100%;
      color: #FFFFFF;
      text-decoration: none;
    }
    .name-link {
      background-color: #000000;
      width: 80%;
      clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%); 
      padding: .5em;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      &:last-of-type {
        font-size:1.5em;
      }
    }
  }
}

.transition {
  width: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  &.top {
    bottom: 0;
    background-position: bottom center;
  }
  &.bottom {
    top: 0;
  }
  &.backers.top {
    background-image: url(images/backers-bg-top.svg);
    height: 14.42vw;
  }
  &.backers.bottom {
    background-image: url(images/backers-bg-bottom.svg);
    height: 9.88vw;
  }
  &.participate.top {
    background-image: url(images/participate-bg-top.svg);
    height: 5.85vw;
  }
  &.participate.bottom {
    background-image: url(images/participate-bg-bottom.svg);
    height: 7.5vw;
  }
  &.involved.top {
    background-image: url(images/involved-bg-top.svg);
    height: 8vw;
  }
}

.social-circle {
  height: 147px;
  width: 147px;
  margin: 0px auto 10px;
  border-radius: 294px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 27px 0px rgba(0,0,0,.43);
  font-size: 5em;
  background-color: #FFFFFF;
}

.social.card {
  text-align: center;
  h4 {
    font-size: 1.2em;
  }
  border: none;
  background-color: transparent;
  .card-body {
    padding: .5em;
  }
  .card-footer {
    background-color: transparent;
    border: none;
  }
}

footer {
  background-color: #141414;
  color: white;
  p {
    margin-bottom: .5em;
  }
  a {
    color: #FFFFFF;
    &:hover {
      color: #FFFFFF;
      text-decoration: underline;
    }
  }
}

.get-involved {
  background-color: #F8F8F8;
}

// interior-specific styles

header.interior {
  background-color: #000000;
  &:after {
    content: '';
    height: 57px;
    background: url(images/interior-header-bg.svg) no-repeat;
    width: 100%;
  }
}

.title {
  margin: 60px auto;
  h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: .5em;
  }
}

.page-body {
  section {
    margin-top: 5em;
  }
}

.callout {
  text-align: center; 
  background-color: #e9eff7;
  border: 1px solid #d2dfef;
  padding: 2em;
  border-radius: 5px;
  h5 {
    font-weight: 400;
    margin-bottom: 1em;
  }
  i {
    font-size: 2.5em;
    margin-bottom: .5em;
  }
  background:  
    linear-gradient(
      rgba(233,239,247,.9),
      rgba(233,239,247,.9),
    ),
    url(images/bg-wavy-gray.svg);
}

.how-it-works .callout { 
  background-color: #e9eff7;
}

.media {
  align-items: center;
  padding: 2em;
  border-top: 1px solid lightgray;
  &:last-of-type {
    border-bottom: 1px solid lightgray;
  }
  strong {
    font-weight: 500;
  }
}

@media(max-width:640px) {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  .ctas {
    padding-bottom: 150px;
  }
  .team h2 {
    padding-top: 150px;
  }
  .team button:last-of-type {
    margin-bottom: 150px;
  } 
  .email-signup, .email {
    width: 100% !important;
  }
}

@media(max-width: 1000px) {
  .card-deck-wrapper {
    margin-right: 0;
    margin-left: 0;
  }
  .card-deck {
    display: block;
    width: 100%;
    margin-bottom: .75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
  }
  .card-deck .card {
    display: block;
    margin-bottom: .75rem;
    vertical-align: top;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 0px;
  }
  .horiz-ctas {
    width: 100%;
  }
}

