@import 'variables';
@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

a {
  &:hover {
    text-decoration: none;
  }
}

h1 { font-size: 4em; }
h2 { font-size: 2.1875em; text-transform: uppercase; font-weight: 100; }
h3 { font-size: 1.33em; }

hr {
  border-width: 4px;
}

header {
  /*background: url(/src/images/topo.svg) no-repeat;*/
  video {
    opacity: .03;
    z-index: -1;
  }
}

nav {
  font-family: $header-font;
  text-transform: uppercase;
  a {
    color: $body-color;
  } 
}

.hero {
  h1 {
    font-weight: 100;
    color: #000000;
  }
  h3 {
    font-weight: 200;
    color: #000000;
  } 
}

.backers {
  background: url(/src/images/swoosh.svg) no-repeat;
  background-size: cover;
  min-height: 570px;
  color: white;
  h5 {
    font-weight: 200;
  }
}

.wavy-bg {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    background: url(/src/images/bg-wavy-gray.png) no-repeat;
    background-position: bottom;
    height: 610px;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    opacity: .1;
  }
}

.wavy-bg-middle {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    background: url(/src/images/bg-wavy-middle.png) no-repeat;
    background-position: bottom;
    height: 610px;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    opacity: .1;
  }
}

.triptych .card {
  box-shadow: .5px .9px 21px 0px rgba(0,0,0,.04);
  h4 {
    font-size: 1.2em;
  }
  .card-footer {
    border: 0;
    background: none;
  }
}

.participate {
  position: relative;
  &::before {
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    content: '';
    height: 94px;
  }
  background-color: #353535;
}

.transition {
  &.participate.top {
    background: url(/src/images/participate-bg-top.svg) no-repeat;
    position: absolute;
    bottom: 0;
    height: 94px;
    width:100%;
  }
  &.participate.bottom {
    background: url(/src/images/participate-bg-bottom.svg) no-repeat;
    position: absolute;
    top: 0;
    height: 115px;
    width:100%;
  }
  &.involved.top {
    background: url(/src/images/involved-bg-top.svg) no-repeat;
    position: absolute;
    bottom: 0;
    height: 126px;
    width:100%;
  }
}

.social-circle {
  height: 147px;
  width: 147px;
  margin: 0px auto 10px;
  border-radius: 294px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 27px 0px rgba(0,0,0,.43);
  font-size: 5em;
  background-color: #FFFFFF;
}

.social.card {
  text-align: center;
  h4 {
    font-size: 1.2em;
  }
  border: none;
  background-color: transparent;
}

footer {
  background-color: #141414;
  color: white;
}

.get-involved {
  background-color: #F8F8F8;
}

