extends ../layouts/secondary
block body
  div.page-body
    div.container
      section.title.text-center
        img(src='images/mattlost.jpg')
        h1 Page Not Found
        p Sorry, we can&apos;t find that page. Make sure to check the URL and try again.
        p
          a(href='/') Back to Home
